<div>

    <body>
        {{#each beer}}
        <img src="{{image_url}}" alt="beer image displayed">
        <h1> {{name}}</h1>
        <h5>{{description}}</h5>
        <p>{{tagline}}</p>
        {{/each}}
    </body>

</div>