<div>

    <div>
        <img src="images/beer.png" alt="beer image">
    </div>
    <div>
        <button>
            <a href="/beer">Cheek the beers!</a>
        </button>
        <button>
            <a href="/random-beer">Cheek a random-beer!</a>
        </button>

    </div>

</div>